<!DOCTYPE html>
<html lang="sr">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    </head>

    <body>
        
        <main>

            <h1><b><i>top 4 cute things</i></b></h1>
            <a href="index.html">povratak na glavnu</a>
            
            <br>
            <img src="img/imgonline-com-ua-Resize-ilPXLp7TRkZDR.png"><img src="img/imgonline-com-ua-Resize-PYb277cNXvctu.png">
            <br>
            <img src="img/imgonline-com-ua-Resize-rAr4T7NgjpN2Y.png"><img src="img/imgonline-com-ua-Resize-wtUCIdOKPxlxmI.png">

        </main>

    </body>

</html>