<!DOCTYPE html>
<html lang="sr">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />

    </head>

    <body>
        
        <main>

            <h1>trecaStranica</h1>

            <a href="index.html">povratak na glavnu</a>
            <a href="drugaStranica.html">drugaStranica</a>
            
            <p>5 dobrih strana hello kitty</p>

            <ul>
                <li>podize raspolozenje</li>
                <li>mogu je gledati ljudi svih uzrasta</li>
                <li>ima sladak dizajn</li>
                <li>ima ogromnu fan bazu</li>
                <li>svi je vole!!!</li>
            </ul>

            <p>5 losih strana hello kitty</p>

            <ol>
                <li>njeni stariji crtaci su bili bolji</li>
                <li>postoje ljudi koji nisu culi za nju</li>
                <li>postoje ljudi koji misle da je samo za decu</li>
                <li>postoje ljudi koji misle da je samo za devojcice</li>
                <li>tesko je pronaci stvari s njenim brendom kod nas</li>
            </ol>

        </main>

    </body>

</html>